<div style="display: flex; flex-direction: column; height: 100%; max-height: 90vh;">
  <h2 mat-dialog-title>Edytuj seryjnie zapisy kart rowerowych</h2>

  <mat-dialog-content style="flex: 1; overflow: hidden;">
    <div class="flex gap-[5px]" style="width: 100%;">
      <mat-form-field matTooltip="Zaleca się pominiecie tego pola, ponieważ jest to dodawanie dla wszystkich uczniów numery kart." style="width: 100%;">
        <mat-label>Numer karty</mat-label>
        <input [(ngModel)]="createBicycleCardVar.numer_karty" matInput maxlength="25"/>
      </mat-form-field>
    </div>

    <div class="flex gap-[5px]" style="width: 100%;">
      <mat-form-field style="width: 100%;">
        <mat-label>Data wydania</mat-label>
        <input (focus)="picker.open()" [(ngModel)]="createBicycleCardVar.data_wydania" [matDatepicker]="picker" matInput
               readonly/>
        <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <mat-label>Uwagi</mat-label>
        <input [(ngModel)]="createBicycleCardVar.uwagi" matInput maxlength="255"/>
      </mat-form-field>
    </div>

    <div class="flex gap-[5px]" style="width: 100%;">
      <mat-checkbox value="1" [(ngModel)]="createBicycleCardVar.czy_odebrana">
        Odebrano
      </mat-checkbox>

      <mat-checkbox value="1" [(ngModel)]="createBicycleCardVar.czy_dublikat">
        Dublikat
      </mat-checkbox>
    </div>


  </mat-dialog-content>

  <mat-dialog-actions align="end" style="border-top: 1px solid #ccc; padding-top: 8px;">
    <button mat-button mat-dialog-close>Anuluj</button>
    <button
      (click)="updateBicycleCardFetch()"
      [mat-dialog-close]="true"
      cdkFocusInitial
      color="accent" mat-flat-button
    >
      Zapisz
    </button>
  </mat-dialog-actions>
</div>
