<div style="display: flex; flex-direction: column; height: 100%; max-height: 100vh;">
  <h2 mat-dialog-title>Dodanie ucznia do oddziału</h2>
  <mat-dialog-content class="mat-typography" style="flex: 1; overflow: auto; max-height: 100%;">
    <div class="flex">
      <mat-form-field class="w-full" appearance="outline">
        <mat-select placeholder="Oddział" onchange="this.form.submit()" [disabled]="!classes.length" [(ngModel)]="dataAddToClass.class"
                    name="class" required>
          <mat-option *ngFor="let class of classes;" [value]="class.id">
            {{ class.class }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <input matInput [matDatepicker]="picker" placeholder="W oddziale od" (focus)="picker.open()" [(ngModel)]="dataAddToClass.w_klasie_od"
               name="w_klasie_od" required readonly/>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" style="border-top: 1px solid #ccc; padding-top: 8px;">
    <button mat-button mat-dialog-close color="primary">Anuluj</button>
    <button mat-flat-button [mat-dialog-close]="true" (click)="dodajPobytUcznia()"
            [disabled]="!dataAddToClass.w_klasie_od || !dataAddToClass.class" cdkFocusInitial color="primary">Dodaj
    </button>
  </mat-dialog-actions>

</div>
