<div style="display: flex; flex-direction: column; height: 100%; max-height: 100vh;">
  <h2 mat-dialog-title>
    Edytuj szablon dla dokumentu
  </h2>

  <mat-progress-bar mode="indeterminate" *ngIf="isProgress"></mat-progress-bar>

  <mat-dialog-content *ngIf="!isProgress" style="flex: 1; overflow: auto; max-height: 100%;">

    <div class="w-full flex items-center gap-[10px]">
      <div class="w-full">
        <p class="mb-1 text-gray-600">Nazwa szablonu:</p>
        <mat-form-field appearance="outline" class="w-full">
          <input type="text" [readonly]="!getDokumentList.is_editable" maxlength="255" [(ngModel)]="createDokumentBuild.name" placeholder="Nazwa wydruku" matInput>
        </mat-form-field>
      </div>
      <div class="w-full">
        <p class="mb-1 text-gray-600">Typ szablonu:</p>
        <mat-form-field appearance="outline" class="w-full">
          <input type="text" [readonly]="!getDokumentList.is_editable" maxlength="50" [(ngModel)]="createDokumentBuild.type" placeholder="Typ wydruku" matInput>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="getDokumentList.is_editable" class="w-full flex items-center gap-[10px] mb-[30px]">
      <div class="w-full">
        <p class="mb-1 text-gray-600">Dodał:</p>
        <span>{{ getDokumentList.user }}</span>
      </div>
      <div class="w-full">
        <p class="mb-1 text-gray-600">Data utworzenia:</p>
        <span>{{ getDokumentList.created_at | date:'yyyy-MM-dd HH:mm:ss' }}</span>
      </div>
      <div class="w-full">
        <p class="mb-1 text-gray-600">Data modyfikacji:</p>
        <span>{{ getDokumentList.updated_at | date:'yyyy-MM-dd HH:mm:ss' }}</span>
      </div>
    </div>

    <div>
      <p class="mb-1 text-gray-600">Treść dokumentu:</p>
      <div
        [ngClass]="{
          'w-full': !getDokumentList.is_editable,
          'grid grid-cols-4 gap-4': getDokumentList.is_editable,
        }"
      >
        <quill-editor
          class="w-full col-span-3"
          [(ngModel)]="createDokumentBuild.html_template"
          [readOnly]="!getDokumentList.is_editable"
          [modules]="{toolbar: getDokumentList.is_editable}"
        ></quill-editor>
        <div class="border rounded p-3 text-sm" *ngIf="getDokumentList.is_editable === true">
          <div class="font-semibold mb-2">Słownik</div>

          <button
            *ngFor="let p of placeholders"
            class="block w-full text-left px-2 py-1 hover:bg-gray-100 rounded"
            (click)="insert(p.key)"
          >
            {{ p.label }}
          </button>
        </div>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end" *ngIf="!isProgress" style="display: flex; justify-content: space-between; border-top: 1px solid #ccc; padding-top: 8px;">
    <div>
      <button *ngIf="getDokumentList.is_editable" (click)="deleteDokumentFetch()" [mat-dialog-close]="true" color="warn" mat-flat-button>
        Usuń
      </button>
    </div>
    <div>
      <button mat-button mat-dialog-close color="primary">
        {{ getDokumentList.is_editable ? 'Anuluj' : 'Zamknij' }}
      </button>
      <button *ngIf="getDokumentList.is_editable" mat-dialog-close (click)="updateDokument()" mat-flat-button color="primary" [disabled]="!createDokumentBuild.name || !createDokumentBuild.type || !createDokumentBuild.html_template">
        Zapisz
      </button>
    </div>
  </mat-dialog-actions>

</div>
