<div class="h-full flex flex-col">
  <ng-container class="m-2 p-4">
    <div class="flex gap-[40px] items-baseline ml-5 mt-3">
      <h1>Oddziały w naborze</h1>

      <button (click)="createClassPopUp()" mat-flat-button color="primary">
        <mat-icon>create_new_folder</mat-icon>
        Dodaj
      </button>
    </div>

    <mat-card class="m-2 p-0 flex-1 flex flex-col overflow-hidden">
      <app-loading-html *ngIf="isProgress"></app-loading-html>

      <div class="flex-1 overflow-auto" style="border-bottom: 1px solid #ccc; padding-bottom: 8px;">

        <table mat-table [dataSource]="dataSource"
               class="w-full text-sm border-collapse">

          <ng-container matColumnDef="select" sticky>
            <th mat-header-cell class="w-[2%] text-center" *matHeaderCellDef>
              <mat-checkbox
                (change)="masterToggle()"
                [checked]="isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [matTooltip]="checkboxLabel()"
                color="primary"
              >
              </mat-checkbox>
            </th>

            <td mat-cell *matCellDef="let element">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(element.id) : null"
                [checked]="selection.isSelected(element.id)"
                [matTooltip]="checkboxLabel(element.id)"
                color="primary"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="jednostka">
            <th mat-header-cell class="px-4 py-2 border-b text-center" *matHeaderCellDef> Jednostka</th>
            <td mat-cell *matCellDef="let element"> {{ element?.unit?.short || '-' }}</td>
          </ng-container>

          <ng-container matColumnDef="class">
            <th mat-header-cell class="px-4 py-2 border-b text-center" *matHeaderCellDef>Nazwa oddziału
            </th>
            <td mat-cell class="px-4 py-2 border-b text-center"
                *matCellDef="let element"> {{ element?.level + ' ' + element?.symbol }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions" sticky>
            <th mat-header-cell class="border-b text-center" *matHeaderCellDef>Akcja</th>
            <td mat-cell class="w-[1%]" *matCellDef="let element">
              <button matTooltip="Edytuj" mat-icon-button (click)="updateClassPopUp(element?.id)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row class="bg-gray-100 text-center sticky-header"
              *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row class="hover:bg-gray-100" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <ng-container *ngIf="dataSource.data.length == 0">
          <div class="text-center p-4 text-gray-500">
            Brak dodanych oddziałów, do naborów.
          </div>
        </ng-container>
      </div>
    </mat-card>

  </ng-container>

</div>
