<h2 mat-dialog-title>
  Resetowanie hasła
</h2>
@if (isProgress) {
  <app-loading-html />
}
<mat-dialog-content>
  @if (password) {
    Hasło dla użytkownika: {{ data.user_name }} zostało zresetowane. <br>

    Hasło: <b #copyTextPassword>{{ password }}</b> <br>
    Usunięto również połączone konta jeśli użytkownik posiadał.
  } @else {
    Hasło zostanie zresetowane dla użytkownika: <b>{{ data.user_name }}</b> <br>
    Czy jesteś pewny by zresetować hasło dla tego użytkownika?
    <br>
    <br>
    Zostaną u tego użytkownika rozłączone połączone konta - jeżeli posiada takie.
  }
</mat-dialog-content>
<mat-dialog-actions align="end" style="border-top: 1px solid #ccc; padding-top: 8px;">
  @if (password) {
    <button mat-button (click)="copyText(password)" mat-dialog-close color="primary">Skopiuj i zamknij</button>

    <button mat-flat-button mat-dialog-close color="primary">Zamknij</button>
  } @else {
    <button mat-button mat-dialog-close color="primary">Anuluj</button>
    <button mat-flat-button color="primary" (click)="getResetPasswordFetch()">Resetuj</button>
  }
</mat-dialog-actions>
