<div style="display: flex; flex-direction: column; height: 100%; max-height: 100vh;">

  <h2 mat-dialog-title>
    Dodanie uczniów do oddziału
  </h2>

  <mat-dialog-content class="mat-typography" style="flex: 1; overflow: auto; max-height: 100%;">
    <div class="flex w-full gap-[5px]">
      <div class="w-full">
        <p class="text-gray-600 mb-1">Oddział</p>
        <mat-form-field class="w-full" appearance="outline">
          <mat-select onchange="this.form.submit()" [disabled]="!classes.length" [(ngModel)]="dataAddToClass.class" name="class"
            required>
            <mat-option *ngFor="let c of classes;" [value]="c.id">
              {{ c.class }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="w-full">
        <p class="text-gray-600 mb-1">Oddział</p>
        <mat-form-field class="w-full" appearance="outline">
          <input matInput [matDatepicker]="picker" [(ngModel)]="dataAddToClass.date" (focus)="picker.open()" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div>
      Do oddziału zostanie dodano {{ this.data.studentsId.length }} {{ this.data.studentsId.length === 1 ? "uczeń" : "uczniów" }}.
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end" style="border-top: 1px solid #ccc; padding-top: 8px;">
    <button mat-button mat-dialog-close color="primary">Anuluj</button>
    <button mat-flat-button [mat-dialog-close]="true" [disabled]="!dataAddToClass.date || !dataAddToClass.class"
            cdkFocusInitial color="primary" (click)="addStudentsToClass()">Dodaj
    </button>
  </mat-dialog-actions>
</div>
