@media print {
  body {
    margin: 0;
    font-family: serif;
    color: #000;
  }

  button,
  mat-dialog-actions {
    display: none !important;
  }

  .ql-container .ql-snow {
    max-height: 100% !important;
    overflow: auto !important;
  }
}
