.fc-scroller.fc-day-grid-container {
  height: 89vh !important;
  overflow: hidden;
}

.fc-scroller > .fc-day-grid, .fc-scroller > .fc-time-grid {
  height: 100vh !important;
}

.fc-day-grid.fc-unselectable {
  height: 100% !important;
}

.fc-basic-view .fc-body .fc-row {
  min-height: 4em;
  /*height: calc(100% / 6) !important;*/
}
