<div style="display: flex; flex-direction: column; height: 100%; max-height: 100vh;">

  <h2 mat-dialog-title>Edytuj kartę rowerową</h2>

  <mat-dialog-content style="flex: 1; overflow: hidden;" *ngIf="isProgress">
    Poczekaj, ładują się dane...
  </mat-dialog-content>

  <mat-dialog-content style="flex: 1; overflow: auto; max-height: 100%;" *ngIf="!isProgress">

    <div class="flex w-full gap-[5px]">
      <div class="w-full">
        <p class="text-gray-600 mb-1">Oddział</p>
        <mat-form-field class="w-full" appearance="outline">
          <input [(ngModel)]="getBicycleCard.class" matInput disabled />
        </mat-form-field>
      </div>

      <div class="w-full">
        <p class="text-gray-600 mb-1">Uczeń</p>
        <mat-form-field class="w-full" appearance="outline">
          <input [(ngModel)]="getBicycleCard.student" matInput disabled />
        </mat-form-field>
      </div>
    </div>

    <div class="flex w-full gap-[5px]">
      <div class="w-full">
        <p class="text-gray-600 mb-1">Numer karty</p>
        <mat-form-field appearance="outline" class="w-full">
          <input [(ngModel)]="getBicycleCard.numer_karty" matInput maxlength="25" />
        </mat-form-field>
      </div>
    </div>

    <div class="flex w-full gap-[5px]">
      <div class="w-full">
        <p class="text-gray-600 mb-1">Data wydania</p>
        <mat-form-field appearance="outline" class="w-full">
          <input (focus)="picker.open()" [(ngModel)]="getBicycleCard.data_wydania" [matDatepicker]="picker" matInput readonly />
          <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="w-full">
        <p class="text-gray-600 mb-1">Data wydania</p>
        <mat-form-field class="w-full" appearance="outline">
          <input [(ngModel)]="getBicycleCard.uwagi" matInput maxlength="255" />
        </mat-form-field>
      </div>
    </div>

    <div class="flex gap-[5px] w-full">
      <mat-checkbox value="1" color="primary" [(ngModel)]="getBicycleCard.czy_odebrana">
        Odebrano
      </mat-checkbox>

      <mat-checkbox value="1" color="primary" [(ngModel)]="getBicycleCard.czy_dublikat">
        Duplikat
      </mat-checkbox>
    </div>


  </mat-dialog-content>

  <mat-dialog-actions style="display: flex; justify-content: space-between; border-top: 1px solid #ccc; padding-top: 8px;">
    <button (click)="deleteBicycleCardFetch()" [mat-dialog-close]="true"
            color="warn" mat-flat-button>
      Usuń
    </button>

    <span></span>

    <div>
      <button mat-button mat-dialog-close color="primary">Anuluj</button>
      <button (click)="saveBicycleCardFetch()" [mat-dialog-close]="true"
              color="primary" mat-flat-button>
        Zapisz
      </button>
    </div>
  </mat-dialog-actions>
</div>
