<div class="flex items-center justify-center min-h-screen bg-gray-50">
  <div class="text-center">
    <div class="text-[96px] font-bold text-gray-300">
      404
    </div>

    <div class="mt-4 text-[32px] leading-relaxed text-gray-800">
      Nie znaleziono strony
    </div>

    <div class="mt-2 text-gray-600">
      Strona mogła zostać przeniesiona albo usunięta.
    </div>

    <div class="mt-8 flex justify-center gap-4">
      <button
        mat-stroked-button
        color="primary"
        [routerLink]="'/dashboard'"
      >
        Wróć do strony głównej
      </button>
    </div>
  </div>
</div>
