<div style="display: flex; flex-direction: column; height: 100%; max-height: 100vh;">
  <h2 mat-dialog-title>
    Edycja oddział
  </h2>

  <app-loading-html *ngIf="isProgress" />

  <mat-dialog-content *ngIf="!isProgress" style="flex: 1; overflow: auto; max-height: 100%;">

    <div class="w-full flex items-center gap-[5px]">
      <div class="w-full">
        <p class="text-gray-600 mb-1">Poziom: </p>
        <mat-form-field appearance="outline" class="w-full">
          <input
            matInput
            type="number"
            min="0"
            max="10"
            required
            [(ngModel)]="editClassBuild.odzial"
          />
        </mat-form-field>
      </div>

      <div class="w-full">
        <p class="text-gray-600 mb-1">Symbol: </p>
        <mat-form-field appearance="outline" class="w-full">
          <input
            matInput
            type="text"
            maxlength="10"
            required
            [(ngModel)]="editClassBuild.kod"
          />
        </mat-form-field>
      </div>

      <div class="w-full">
        <p class="text-gray-600 mb-1">Wychowawca: </p>
        <mat-form-field appearance="outline" class="w-full">
          <mat-select [(ngModel)]="editClassBuild.teacher" [disabled]="getTeachersList.length === 0" required>
            <mat-option *ngFor="let t of getTeachersList" [value]="t.id">{{ t.full_user_name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </div>

    <div class="w-full flex items-center gap-[5px]">
      <div class="w-full">
        <p class="text-gray-600 mb-1">Początek roku szkolnego: </p>
        <mat-form-field appearance="outline" class="w-full">
          <input
            matInput
            [matDatepicker]="dateStart"
            (focus)="dateStart.open()"
            [(ngModel)]="editClassBuild.date_start"
            name="date_start"
            readonly
          />
          <mat-datepicker-toggle matIconSuffix [for]="dateStart"></mat-datepicker-toggle>
          <mat-datepicker #dateStart></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="w-full">
        <p class="text-gray-600 mb-1">Zakończenie roku szkolnego: </p>
        <mat-form-field appearance="outline" class="w-full">
          <input
            matInput
            [matDatepicker]="dateEnd"
            (focus)="dateEnd.open()"
            [(ngModel)]="editClassBuild.date_end"
            name="date_end"
            readonly
          />
          <mat-datepicker-toggle matIconSuffix [for]="dateEnd"></mat-datepicker-toggle>
          <mat-datepicker #dateEnd></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="w-full">
      <p class="text-gray-600 mb-1">Opis: </p>
      <mat-form-field appearance="outline" class="w-full">
        <input
          matInput
          type="text"
          maxlength="100"
          [(ngModel)]="editClassBuild.name_class"
        />
      </mat-form-field>
    </div>

    <div class="w-full flex items-center gap-[10px]">
      <div class="w-full">
        <p class="text-gray-600 mb-1">Jednostka: </p>
        <span>{{ getClass?.unit?.short || '-' }}</span>
      </div>

      <div class="w-full">
        <p class="text-gray-600 mb-1">Rok szkolny: </p>
        <span>{{ getClass?.year || '-' }}</span>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions *ngIf="!isProgress" align="end" style="border-top: 1px solid #ccc; padding-top: 8px;">
    <button mat-button mat-dialog-close color="primary">Anuluj</button>
    <button
      color="primary"
      mat-flat-button
      (click)="updateClassFetch()"
      mat-dialog-close
    >
      Zapisz
    </button>
  </mat-dialog-actions>
</div>
