<div style="display: flex; flex-direction: column; height: 100%; max-height: 100vh;">

  <h2 mat-dialog-title>
    Dodaj ucznia do nieprzypisanych - księga uczniów
  </h2>

  <mat-dialog-content style="flex: 1; overflow: auto; max-height: 100%;">

    <div class="flex items-center gap-[5px] w-full">
      <div class="w-full">
        <p class="text-gray-600 mb-1">Imię</p>

        <mat-form-field appearance="outline" class="w-[100%]">
          <input matInput [(ngModel)]="createStudent.user_name">
        </mat-form-field>
      </div>

      <div class="w-full">
        <p class="text-gray-600 mb-1">Nazwisko</p>

        <mat-form-field appearance="outline" class="w-[100%]">
          <input matInput [(ngModel)]="createStudent.user_lastname">
        </mat-form-field>
      </div>
    </div>

    <div class="flex items-center gap-[5px] w-full">
      <div class="w-full">
        <p class="text-gray-600 mb-1">Data urodzenia</p>

        <mat-form-field appearance="outline" class="w-[100%]">
          <input matInput [matDatepicker]="picker" (click)="picker.open()" [(ngModel)]="createStudent.data_urodzenia"
            required readonly>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="w-full">
        <p class="text-gray-600 mb-1">PESEL</p>

        <mat-form-field appearance="outline" class="w-[100%]">
          <input matInput [(ngModel)]="createStudent.pesel" maxlength="11" required>
        </mat-form-field>
      </div>

      <div class="w-full">
        <p class="text-gray-600 mb-1">Płeć</p>

        <mat-form-field appearance="outline" class="w-[100%]">
          <mat-select [(ngModel)]="createStudent.plec" required>
            <mat-option value="0">Mężczyzna</mat-option>
            <mat-option value="1">Kobieta</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="flex items-center gap-[5px] w-full">
      <div class="w-full">
        <p class="text-gray-600 mb-1">Adres zamieszkania</p>
        <mat-form-field class="w-[100%]" appearance="outline">
          <input matInput [(ngModel)]="createStudent.adres_zamieszkania">
        </mat-form-field>
      </div>

      <div class="w-full">
        <p class="text-gray-600 mb-1">Adres zameldowania</p>
        <mat-form-field class="w-[100%]" appearance="outline">
          <input matInput [(ngModel)]="createStudent.adres_zameldowania">
        </mat-form-field>
      </div>
    </div>

    <div class="flex items-center gap-[5px] w-full">
      <div class="w-full">
        <p class="text-gray-600 mb-1">Numer telefonu</p>
        <mat-form-field appearance="outline" class="w-[100%]">
          <input matInput [(ngModel)]="createStudent.numer_telefonu" maxlength="9">
        </mat-form-field>
      </div>

      <div class="w-full">
        <p class="text-gray-600 mb-1">E-mail</p>
        <mat-form-field class="w-[100%]" appearance="outline">
          <input matInput [(ngModel)]="createStudent.email" maxlength="64">
        </mat-form-field>
      </div>
    </div>

    <div class="flex items-center gap-[5px] w-full">
      <div class="w-full">
        <p class="text-gray-600 mb-1">Typ nauczania</p>

        <mat-form-field appearance="outline">
          <mat-select [(ngModel)]="createStudent.typ_nauczania">
            <mat-option value="zsk">Zindywidualizowana ścieżka kształcenia</mat-option>
            <mat-option value="ni">Nauczanie indywidualne</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end" style="border-top: 1px solid #ccc; padding-top: 8px; clear: both;">
    <button mat-button mat-dialog-close color="primary">Zamknij</button>
    <button mat-flat-button color="primary" (click)="getCreateStudentFetch()" mat-dialog-close>Dodaj</button>
  </mat-dialog-actions>
</div>
