<div class="h-full flex flex-col">
  <ng-container class="m-2 p-4">
    <div class="flex items-center justify-between w-full">
      <h1 class="pt-3 pl-3">Rejestr dodatkowych informacji o uczniach</h1>

      <button
        mat-icon-button
        color="primary"
        class="mr-3"
        matTooltip="Masz dostęp tylko do wglądu DIU uczniów, nie możesz ich edytować ani usuwać. W przyszłości dodamy taką funkcję."
      >
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </ng-container>

  <ng-container>
    <mat-card class="m-2 p-0 flex-1 flex flex-col overflow-hidden">
      <app-loading-html *ngIf="isProgress"></app-loading-html>

      <div class="flex-1 overflow-auto">
        <table
          mat-table
          matSort
          [dataSource]="dataSource"
          class="w-full table-auto text-sm border-collapse"
        >

          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Uczeń
            </th>
            <td mat-cell
                *matCellDef="let element"> {{ element?.user || '-' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="year">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header>
              Termin ważności
            </th>
            <td mat-cell
                *matCellDef="let element"> {{ element?.year || '-' }} {{ (element?.year2 ? ' - ' + element.year2 : '') }}
            </td>
          </ng-container>

          <ng-container matColumnDef="cele_pracy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Cele pracy
            </th>
            <td mat-cell
                *matCellDef="let element"> {{ element?.cele_pracy || '-' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="metody_pracy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Metody pracy
            </th>
            <td mat-cell
                *matCellDef="let element"> {{ element?.metody_pracy || '-' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="dostosowania">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Dostosowania
            </th>
            <td mat-cell
                *matCellDef="let element"> {{ element?.dostosowania || '-' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="inne_informacje">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Inne informacje
            </th>
            <td mat-cell
                *matCellDef="let element"> {{ element?.inne_informacje || '-' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Status
            </th>
            <td mat-cell
                *matCellDef="let element"> {{ element?.status || '-' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Data dodania
            </th>
            <td mat-cell
                *matCellDef="let element"> {{ element?.date || '-' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="user_add">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Dodał
            </th>
            <td mat-cell
                *matCellDef="let element"> {{ element?.user_add || '-' }}
            </td>
          </ng-container>


          <tr mat-header-row class="bg-gray-100 text-center sticky-header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr
            mat-row
            class="hover:bg-gray-100"
            *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{
              '!bg-red-100': row.rodzaj_text === 'negatywna',
              '!bg-green-100': row.rodzaj_text === 'pozytywna',
              '!bg-blue-100': row.rodzaj_text === 'neutralna',
            }"
          ></tr>
        </table>

        <ng-container class="flex-1 h-full " *ngIf="dataSource.data.length == 0">
          <div class="text-center p-4 text-gray-500">
            Brak dodanych DIU w rejestrze.
          </div>
        </ng-container>

      </div>
    </mat-card>
  </ng-container>
</div>
