<div style="display: flex; flex-direction: column; height: 100%; max-height: 100vh;">
  <h2 mat-dialog-title>
    Dodaj egzamin
  </h2>

  <mat-dialog-content style="flex: 1; overflow: hidden; max-height: 100%;">

    <div class="flex gap-[5px] w-full">
      <div class="w-full">
        <p class="text-color-600 mb-1">Oddział: </p>
        <mat-form-field class="w-full" appearance="outline">
          <mat-select [(ngModel)]="classId"
                      (ngModelChange)="getStudents()"
                      [disabled]="!classes.length" required>
            <mat-option *ngFor="let class of classes;" [value]="class.id">
              {{ class.class }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w-full">
        <p class="text-color-600 mb-1">Uczeń: </p>
        <mat-form-field class="w-full" appearance="outline">
          <mat-select [(ngModel)]="createExam.user_id" [disabled]="!students.length" required>
            <mat-option *ngFor="let student of students;" [value]="student.id">
              {{ student.full_user_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="flex gap-[5px] w-full">
      <div class="w-full">
        <p class="text-color-600 mb-1">Nazwa: </p>
        <mat-form-field class="w-full" appearance="outline">
          <input [(ngModel)]="createExam.nazwa" matInput maxlength="200"/>
        </mat-form-field>
      </div>

      <div class="w-full">
        <p class="text-color-600 mb-1">Wynik: </p>
        <mat-form-field class="w-full" appearance="outline">
          <input [(ngModel)]="createExam.wynik" matInput maxlength="5"/>
        </mat-form-field>
      </div>
    </div>


  </mat-dialog-content>

  <mat-dialog-actions align="end" style="border-top: 1px solid #ccc; padding-top: 8px;">
    <button mat-button mat-dialog-close color="primary">Anuluj</button>
    <button
      (click)="createExamFetch()"
      [disabled]="!this.createExam.user_id || !this.createExam.nazwa || !this.createExam.wynik"
      [mat-dialog-close]="true"
      color="primary"
      mat-flat-button
    >
      Dodaj
    </button>
  </mat-dialog-actions>
</div>
